<div class="flex items-center justify-between h-16 fixed top-0 px-4 bg-green-700 w-full">
  <%= link_to "/" do %>
    <div class="flex items-center gap-2 border-2 border-green-400 p-0.5 hover:bg-green-600">
      <span class="text-green-400"> Home </span>
      <%= image_tag "zucchini.png", class: "w-8 object-cover" %>
    </div>
  <% end %>
  
  <div data-controller="dropdown" class="relative">
    <div class="rounded-full w-12 h-12 flex items-center justify-center bg-green-500 cursor-pointer border-2 border-green-600 hover:border-green-400"
      data-action="click->dropdown#toggle">
      <%= current_user.email.first(2) %>
    </div>

    <div class="hidden w-40 h-80 bg-green-500 absolute top-16 -left-32" data-dropdown-target="menu">
      <div class="flex flex-col items-center gap-4 pt-8">
        <%= link_to "Your Profile", profile_path(current_user) %>
        <%= link_to "Settings", edit_user_registration_path %>
      </div>
    </div>
  </div>
</div>